* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  font-size: 1rem;
}

nav {
  width: 100%;
  height: 118px;
  overflow: hidden;
  z-index: -1;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #333;
}

ul li {
  float: right;
}

li a {
  font-size: 1.4em;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 45px 50px;
  text-decoration: none;
}

li a:hover {
  color: burlywood;
  background-color: rgb(117, 117, 117);
}

ul li:first-of-type {
  float: left;
  margin-left: 150px;
  margin-top: 30px;
}

ul li:last-of-type a {
  color: burlywood;
  background-color: rgb(117, 117, 117);
} 

ul li:first-child {
  font-size: 1.6em;
  font-weight: bold;
}

ul li span {
  font-size: 1.8em;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 50px;
}

ul li.home {
  margin-top: 0;
}

section.hero {
  color: #fff;
  text-align: center;
  height: 700px;
  width: 100vw;
  background-color: beige;
  background-image: url(IMG/showcase.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section.hero h1 {
  font-size: 75px;
  padding-top: 175px;
}

section.hero span {
  color: burlywood;
}

section.hero p {
  font-size: 1.4em;
  font-weight: bold;
  padding: 30px 10px;
  margin-bottom: 50px;
}

a.about {
  font-size: 1.6em;
  background-color: black;
  text-decoration: none;
  padding: 20px;
  color:rgb(117, 117, 117);
}

a:hover {
  background-color: burlywood;
  color: brown;
  cursor: pointer;
}

section.history {
  width: 100%;
  height: 450px; 
}

div.img-left {
  float: left;
  width: 50%;
  height: 450px;
  background-image: url(IMG/test-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: blue; 
}

div.img-right {
  float: right;
  width: 50%;
  height: 450px;
  text-align: center;  
  background-color: #333;
  color: white;
}

div.content {
  margin-top: 50px;  
}

p.title {
  font-size: 1.8em;
  font-weight: bold;
}

div.content p.content {
  font-style: normal;
  font-size: 1.2em;
  padding: 0 40px;
  word-spacing: 0.4em;
  margin-bottom: 25px;
}

span.color {
  color: burlywood;
}

a.read_more {
  font-size: 1.6em;
  color: black;
  padding: 25px;
  cursor: pointer;
  text-decoration: none;
  background-color: beige;
}

a.read_more:hover {
  background-color: burlywood;
}

section.three {
  width: 100%;
  height: 300px;
}

section.three div {
  width: 33%;
  height: 100%;
  float: left;
  text-align: center; 
  font-size: 1.2em;
  padding-top: 50px; 
}

section.three div i {
  padding: 10px;
}

section.three div h2 {
  margin-top: 30px;
  padding: 10px;
}

section.three div p {
  padding: 20px;
}

section.three div.middle {
  background-color: burlywood;
}

section.about {
  width: 100%;
  height: 350px;
  background-color: #fff;
}

div.about_left {
  float: left;
  width: 50%;
  height: 350px;
}

div.about_left h1 {
  font-size: 48px;
  padding-left: 100px;
  padding-top: 40px;
}

div.about_left h1 span {
  color: burlywood;
}

div.about_left p {
  font-size: 1.3em ; 
  word-spacing: 0.5em;
  padding: 30px 40px 40px 100px;
}

div.about_middle {
  width: 30%;
  height: 350px;
  float: left;
}

div.about_img {
  height: 300px;
  width: 80%;
  background-image: url(/IMG/photo-2.jpg);
  background-size: cover;
  border-radius: 50%;
  margin-top: 25px;
}

div.about_right {
  float: right;
  width: 20%;
  height: 350px;
}

section.guests_say {
  height: 700px;
  width: 100%;
  background-image: url(/IMG/test-bg.jpg);
  background-position: center;
}

section.guests_say h2 {
  text-align: center;
  font-size: 48px;
  color: #fff;
  padding-top: 100px;
}

section.guests_say div.guest_one, div.guest_two {
  width: 80%;
  height: 150px;
  margin: auto;
  border-radius: 10px;
  margin-top: 40px;
  background-color: burlywood;
  opacity: 90%;
  padding-top: 15px;
  padding-left: 15px;
}

div.img_guest_one {
  float: left;
  width: 5%;
  background-image: url(/IMG/person-1.jpg);
  background-size: cover;
  height: 120px;
  width: 120px;
  border-radius: 50%;  
}

div.img_guest_one_p, div.img_guest_two_p {
  font-size: 1.2em;
  line-height: 1.5;
  padding-top: 20px;
  padding-right: 50px;
}

div.img_guest_one_p {
  float: right;
  width: 90%;
}

div.img_guest_two {
  float: left;
  width: 5%;
  background-image: url(/IMG/person-2.jpg);
  background-size: cover;
  height: 120px;
  width: 120px;
  border-radius: 50%;  
}

div.img_guest_two_p {
  float: right;
  width: 90%;
}

section.info {
  width: 100%;
  height: 250px;
  background-color: darkgray;
}

div.location, div.phone { 
  float: left;
  width: 33%;
  text-align: center;
  margin-top: 70px;
}

div.email {
  float: right;
  width: 33%;
  text-align: center;
  margin-top: 70px;
}

section.form {
  width: 80%;
  height: 700px;
  margin: auto;
}

section.form h1 {
  font-size: 48px;
  padding-top: 20px;
  padding-bottom: 20px;
}

section.form span {
  color: burlywood;
}

label, p.contact {
  font-size: 1.2em;
}

form input, textarea {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
}

form input:focus, textarea:focus {
  border: 3px solid burlywood;
}

input.btn {
  font-size: larger;
  width: fit-content;
  padding: 20px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
}

footer {
  width: 100%;
  height: 100px;
  font-size: 1.2em;
  background-color: rgb(78, 77, 77);
  color: #fff;
}

footer p {
  text-align: center;
  padding-top: 30px;
}

